body {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px; /* Tamaño fijo del contenedor */
    height: 1080px;
    overflow: hidden;
}

.background, .foreground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
