body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    background-image: url('https://i.ibb.co/RhXxzJQ/FONDO.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.vapor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    animation: vaporAnim 10s linear infinite;
    z-index: 1;
}

.snake-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 2;
}

.snake {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurarse de que la imagen cubra el contenedor sin cambiar su relación de aspecto */
}

@keyframes vaporAnim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
